@import url('https://fonts.googleapis.com/css?family=Gentium+Basic');
body {
  font-family: 'Gentium Basic', serif;
}

#generated-ipa-chart {
  table {
    border-collapse: collapse;
  }
  td span {
    display: inline-block;
    text-align: center;
    width: 1em
  }
  td,
  th {
    border: 1px solid black;
  }
}

td span:first-child+span:last-child {
  float: right;
}

#generated-ipa-chart * {
  padding: 0.3em 0.3em
}
