@import url("https://fonts.googleapis.com/css?family=Gentium+Basic");
body {
  font-family: "Gentium Basic", serif;
}

#generated-ipa-chart {
  table {
    border-collapse: collapse;
    tbody tr {
      &:nth-of-type(odd) {
        &,
        & td {
          border-bottom: none;
        }
      }
      &:nth-of-type(even) {
        &,
        & td {
          border-top: none;
        }
      }
      & td {
        &:nth-of-type(odd) {
          border-right: none;
        }
        &:nth-of-type(even) {
          border-left: none;
        }
      }
    }
  }
  td,
  th {
    border: 1px solid black;
  }
  td:empty {
    background-color: lightgray;
  }
}

#generated-ipa-chart * {
  padding: 0.3em 0.3em;
}
